@charset "UTF-8";

/*
id= só pode um elemento
class = pode varios elementos
*/
body{
    background-color:#C7FFDF;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #5C9E78;
}
h1#principal{
    text-align: center;
    background-color: #9E524C;
    color: white;
}


h2{
    color:  #9E524C;
    
}
.basico{
color:  #719e4c;
}
.intermediario{
color: #9e844c;
}
.avancado{
color:  #9e4c4c;
}